/* BotonCalendario.css */
.calendar-button {
    position: relative;
    width: 100%;
    height: 30pt;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 10%;
    margin: 1px;
}

.calendario-circulo{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
